<nav class="top-nav   blue darken-4">
    <div class="container   blue darken-4">
        <div class="nav-wrapper  blue darken-4">
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <a href="/" class="brand-logo" style="margin-left: 20;"><img id='code_hunter_logo' src="./assets/imgs/new_new_logo.png" alt="Code Hunter Logo"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/employees">All Coders</a></li>
                        <li><a href="/employers">All Employers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


<ul class="sidenav sidenav-fixed">
    <form class="search employee-search">
        <div class="search-wrapper employee-search">
            <input type="text" id="employee_lang" placeholder="Search" name="search">
            <div class="search-results"></div>
            <div class="input-field col s4">
                <button class="btn blue darken-4">Search for Coders!</button>
            </div>
        </div>
    </form>

    <form class="search city-input">
        <div class="search-wrapper city-input">
            <div class="search-results"></div>
            <div class="input-field col s4">
                <button id='myLocationBtn' class="btn blue darken-4" href='/employee-search'>Share Your Location</button>
            </div>
        </div>
    </form>

    <form action="#">
        <p class="range-field">
            Distance
            <input type="range" id="miles_away" min="0" max="100" />
        </p>
    </form>
</ul>


<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="header">Employees</h1>
            <h3 class="header">Below are a list of Employees looking for work!</h3>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="container">
    <div class="section" id="card-container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <div class="col s12">
                        <span class="title">Code Hunters</span>
                    </div>
                    {{#each employee}}
                    <div class="col s12 m6 l4" id="{{id}}">
                        <div class="card blue darken-4 hoverable small white-text">
                            <div class="card-content white-text">
                                <span class="card-title">{{first_name}} {{last_name}}</span>
                                <div class="divider"></div>
                                <p>Years Experience: {{years_experience}}</p>
                                <div class="divider"></div>
                                <p>Languages Known: {{languages_known}}</p>
                                <div class="divider"></div>
                                <p>Desired Salary: {{salary_desired}}</p>
                                <div class="divider"></div>
                                <p>Email: {{employee_email}}</p>
                                <div class="divider"></div>
                                <p>Phone: {{employee_phone}}</p>
                                <div class="divider"></div>
                                <p class='city_name'>Location: {{city_name}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./assets/js/employee.js"></script>